#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.text-container {
  max-width: 650px;
}

.img-logo {
  max-width: 250px;
}

.navbar {
  padding: 1rem;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.img-logo-sm {
  height: 50px;
  cursor: pointer;
  transition: filter 0.5s ease-in-out;
}

.img-logo-sm:hover {
  filter: saturate(350%);
}

.btn-small {
  margin: .4em;
  padding: 0;
  width: 10px;
  letter-spacing: 0;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  min-width: 50px !important;
  height: 50px;
  text-align: center;
}

/* .btn-small:hover {
  box-shadow: 8px 8px 2px slateblue;
} */

.picker-btn {
  cursor: pointer;
  margin: 1em 0 1em 0;
  border-radius: 2px;
  background-color: rgb(158, 158, 158);
  transition: box-shadow .2s ease-in-out;
}

.picker-btn:hover {
  box-shadow: 8px 8px 2px lightgreen;
}

.picker-selected {
  cursor: pointer;
  margin: 1em 0 1em 0;
  border-radius: 2px;
  background-color: darkgreen;
  transition: box-shadow .2s ease-in-out;
}

.picker-selected:hover {
  box-shadow: 8px 8px 2px lightcoral;
}

.float-footer {
  position: fixed;
  bottom: 25px;
  left: 25px;
  z-index: 999;
  color: darkgrey;
}

.float-footer.center {
  right: 25px;
}

.float-container {
  background-color: cornflowerblue;
  border-radius: 3px;
  position: fixed;
  bottom: 25px;
  right: 25px;
  height: 70px;
  width: 70px;
  display: flex;
  align-items: center;
  overflow: hidden;
  transition: width 0.3s ease-in-out, box-shadow 0.2s ease-in-out;
  z-index: 999;
}

.float-container:hover {
    box-shadow: 8px 8px 2px rgb(74, 109, 175);
}

.float-container.expanded {
  width: 350px;
}

.float-container .fixed-icon {
  height: 50px;
}

.float-icon {
  height: 70px;
  flex-shrink: 0;
  cursor: pointer;
}

.float-container.expanded .float-icon {
  margin-right: 20px;
  border-right: 2px solid rgb(74, 109, 175);
  transition: margin-right border-right 0.2s ease-in-out;
}

.float-links {
  display: flex;
  flex-direction: row;
  gap: 20px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease-in-out;
}

.float-container.expanded .float-links {
  opacity: 1;
  pointer-events: auto;
}

.float-links a {
  color: white;
  font-weight: 600;
  font-size: 1rem;
  letter-spacing: 1px;
  transition: text-shadow 0.2s;
}

.float-links a:hover {
  text-shadow: rgb(74, 109, 175) 5px 5px 2px;
}

.fixed-container {
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 60px;
  display: flex;
  justify-content: center;
  z-index: 999;
}

.fixed-icon {
  height: 70px;
}

.fixed-links {
  display: flex;
  gap: 1.5rem;
  text-align: center;
}

.fixed-links a {
  color: rgb(29, 48, 54);
  font-weight: 600;
  font-size: 1rem;
  letter-spacing: 1px;
}

.datePickerDate {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  margin: 0.25rem 0;
  list-style: none;
  border-radius: 6px;
}