#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.text-container {
  max-width: 650px;
}

.img-logo {
  max-width: 250px;
}

.btn-small {
  border-radius: 100%;
  background: none;
  color: slateblue;
  font-size: 3em;
  margin: 0;
}

.btn-small:hover {
  color: lightblue;
  box-shadow: none;
}